In [83]:
import datetime
today = datetime.datetime.now()
print(today)

2025-02-21 12:47:56.133003

In [84]:
import pandas as pd
import matplotlib.pylab as plt

### Data-Wrangling

## Reading the dataset and adding the related headers

In [85]:
filename = "auto3.csv"

### Then, we create a Python list __headers__ containing name of headers.

In [86]:
headers = ["symboling", "normalized-losses", "make", "fuel-type", "aspiration", "num-of-doors", "body-style","drive-wheels", "engine-location"
           ,"wheel-base", "width", "height", "curb-height", "engine-type", "num-of-cylinders", "engine-size", "fuel-system", "bore", "stroke"
           ,"compression-ration", "horsepower", "peak-rpm", "highway-mpg", "price"]

In [87]:
df = pd.read_csv(filename, names = headers)

In [88]:
df.head()

         symboling normalized-losses make fuel-type   aspiration num-of-doors  \
3 ?    alfa-romero               gas  std       two  convertible          rwd
  ?    alfa-romero               gas  std       two  convertible          rwd
1 ?    alfa-romero               gas  std       two    hatchback          rwd
2 164         audi               gas  std      four        sedan          fwd
  164         audi               gas  std      four        sedan          4wd

      body-style  drive-wheels  engine-location  wheel-base  ...  \
3 ?        front          88.6            168.8        64.1  ...
  ?        front          88.6            168.8        64.1  ...
1 ?        front          94.5            171.2        65.5  ...
2 164      front          99.8            176.6        66.2  ...
  164      front          99.4            176.6        66.4  ...

       num-of-cylinders  engine-size fuel-system  bore  stroke  \
3 ?                 130         mpfi        3.47  2.68     9.0
  ?                 130         mpfi        3.47  2.68     9.0
1 ?                 152         mpfi        2.68  3.47     9.0
2 164               109         mpfi        3.19  3.40    10.0
  164               136         mpfi        3.19  3.40     8.0

      compression-ration horsepower peak-rpm  highway-mpg  price
3 ?                  111       5000       21           27  13495
  ?                  111       5000       21           27  16500
1 ?                  154       5000       19           26  16500
2 164                102       5500       24           30  13950
  164                115       5500       18           22  17450

[5 rows x 24 columns]

In [89]:
import numpy as np

# replace '?' to NaN
df.replace("?", np.nan, inplace=True)
df.head(5)

         symboling normalized-losses make fuel-type   aspiration num-of-doors  \
3 ?    alfa-romero               gas  std       two  convertible          rwd
  ?    alfa-romero               gas  std       two  convertible          rwd
1 ?    alfa-romero               gas  std       two    hatchback          rwd
2 164         audi               gas  std      four        sedan          fwd
  164         audi               gas  std      four        sedan          4wd

      body-style  drive-wheels  engine-location  wheel-base  ...  \
3 ?        front          88.6            168.8        64.1  ...
  ?        front          88.6            168.8        64.1  ...
1 ?        front          94.5            171.2        65.5  ...
2 164      front          99.8            176.6        66.2  ...
  164      front          99.4            176.6        66.4  ...

       num-of-cylinders  engine-size fuel-system  bore  stroke  \
3 ?                 130         mpfi        3.47  2.68     9.0
  ?                 130         mpfi        3.47  2.68     9.0
1 ?                 152         mpfi        2.68  3.47     9.0
2 164               109         mpfi        3.19  3.40    10.0
  164               136         mpfi        3.19  3.40     8.0

      compression-ration horsepower peak-rpm  highway-mpg  price
3 ?                  111       5000       21           27  13495
  ?                  111       5000       21           27  16500
1 ?                  154       5000       19           26  16500
2 164                102       5500       24           30  13950
  164                115       5500       18           22  17450

[5 rows x 24 columns]

In [90]:
missing_data = df.isnull()
missing_data.head(5)

       symboling  normalized-losses   make  fuel-type  aspiration  \
3 ?        False              False  False      False       False
  ?        False              False  False      False       False
1 ?        False              False  False      False       False
2 164      False              False  False      False       False
  164      False              False  False      False       False

       num-of-doors  body-style  drive-wheels  engine-location  wheel-base  \
3 ?           False       False         False            False       False
  ?           False       False         False            False       False
1 ?           False       False         False            False       False
2 164         False       False         False            False       False
  164         False       False         False            False       False

       ...  num-of-cylinders  engine-size  fuel-system   bore  stroke  \
3 ?    ...             False        False        False  False   False
  ?    ...             False        False        False  False   False
1 ?    ...             False        False        False  False   False
2 164  ...             False        False        False  False   False
  164  ...             False        False        False  False   False

       compression-ration  horsepower  peak-rpm  highway-mpg  price
3 ?                 False       False     False        False  False
  ?                 False       False     False        False  False
1 ?                 False       False     False        False  False
2 164               False       False     False        False  False
  164               False       False     False        False  False

[5 rows x 24 columns]

In [91]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

symboling
symboling
False    205
Name: count, dtype: int64

normalized-losses
normalized-losses
False    205
Name: count, dtype: int64

make
make
False    205
Name: count, dtype: int64

fuel-type
fuel-type
False    203
True       2
Name: count, dtype: int64

aspiration
aspiration
False    205
Name: count, dtype: int64

num-of-doors
num-of-doors
False    205
Name: count, dtype: int64

body-style
body-style
False    205
Name: count, dtype: int64

drive-wheels
drive-wheels
False    205
Name: count, dtype: int64

engine-location
engine-location
False    205
Name: count, dtype: int64

wheel-base
wheel-base
False    205
Name: count, dtype: int64

width
width
False    205
Name: count, dtype: int64

height
height
False    205
Name: count, dtype: int64

curb-height
curb-height
False    205
Name: count, dtype: int64

engine-type
engine-type
False    205
Name: count, dtype: int64

num-of-cylinders
num-of-cylinders
False    205
Name: count, dtype: int64

engine-size
engine-size
False    205
Name: count, dtype: int64

fuel-system
fuel-system
False    201
True       4
Name: count, dtype: int64

bore
bore
False    201
True       4
Name: count, dtype: int64

stroke
stroke
False    205
Name: count, dtype: int64

compression-ration
compression-ration
False    203
True       2
Name: count, dtype: int64

horsepower
horsepower
False    203
True       2
Name: count, dtype: int64

peak-rpm
peak-rpm
False    205
Name: count, dtype: int64

highway-mpg
highway-mpg
False    205
Name: count, dtype: int64

price
price
False    201
True       4
Name: count, dtype: int64

## Calculate the mean value for the 'normalized-losses' column

In [92]:
avg_norm_loss = df["normalized-losses"].astype("float").mean(axis = 0)
print("Average of normalized-losses: ", avg_norm_loss)

ValueError: could not convert string to float: 'gas'

In [ ]:
avg_bore = df['bore'].astype('float').mean(axis = 0)
print("Average of bore: ", avg_bore)

Average of bore:  3.3297512437810943

In [ ]:
df['bore'].replace(np.nan, avg_bore, inplace = True)

In [ ]:
avg_stroke = df['stroke'].astype('float').mean(axis = 0)
print('Average of stroke: ', avg_stroke)

Average of stroke:  3.255422885572139

In [ ]:
df['stroke'].replace(np.nan, avg_stroke, inplace = True)

In [ ]:
avg_horsepower = df['horsepower'].astype('float').mean(axis = 0)
print('Average horsepower: ', avg_horsepower)

Average of horsepower:  104.15075376884423

In [ ]:
df['horsepower'].replace(np.nan, avg_horsepower, inplace = True)

In [ ]:
avg_peak_rpm = df['peak-rpm'].astype('float').mean(axis = 0)
print('Average peak rpm: ', avg_peak_rpm)

Average peak rpm:  5107.788944723618

In [ ]:
df['peak-rpm'].replace(np.nan, avg_peak_rpm, inplace = True)

In [ ]:
df['num-of-doors'].value_counts()

num-of-doors
four    114
two      85
Name: count, dtype: int64

In [ ]:
df['num-of-doors'].value_counts().idxmax()

'four'

In [ ]:
df['num-of-doors'].replace(np.nan, 'four', inplace = True)

In [ ]:

df.dropna(subset = ['price'], axis = 0, inplace = True)

In [ ]:
df.reset_index(drop = True, inplace = True)

In [ ]:
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [97]:
df[['bore', 'stroke']] = df[['bore', 'stroke']].astype('float')
df[['normalized-losses']] = df[['normalized-losses']].astype('int')
df[['price']] = df[['price']].astype('float')
df[['peak-rpm']] = df[['peak-rpm']].astype('float')

ValueError: invalid literal for int() with base 10: 'gas'

In [95]:
df.dtypes

symboling              object
normalized-losses      object
make                   object
fuel-type              object
aspiration             object
num-of-doors           object
body-style             object
drive-wheels          float64
engine-location       float64
wheel-base            float64
width                 float64
height                  int64
curb-height            object
engine-type            object
num-of-cylinders        int64
engine-size            object
fuel-system            object
bore                  float64
stroke                float64
compression-ration     object
horsepower             object
peak-rpm                int64
highway-mpg             int64
price                  object
dtype: object